h1{
    color: purple;
    font-size: 60px;
}

#photo{
    width: 250px;
}

.special{
    color: teal;
    font-size: 30px;
    border: 1px solid teal;
}

.todo{
    font-size: 30px;
}

input[type=password]{
    width: 260px;
}

.done {
    color: gray;
    text-decoration: line-through;
    opacity: 0.5;
}

